@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #provider {
    @apply bg-gray-50 text-cyan-600 text-xl;
  }

  #provider-visitor-date {
    @apply bg-gray-50 text-cyan-600 text-xl ml-11;
  }

  .login-button {
    @apply flex  bg-white text-blue-400  rounded-xl mx-2 my-2 px-2 py-2 hover:bg-gray-100 hover:text-blue-500;
  }

  .learn-more-e {
    @apply w-80 bg-gray-200 rounded-3xl  mx-3 mt-3 mb-12 py-3 hover:scale-105 duration-500;
  }
  .boxes-after {
    @apply transition-all duration-700 bg-gray-200 opacity-100;
  }
  .boxes-before {
    @apply transition-all duration-700 opacity-0;
  }

  .heart-before {
    @apply animate-bounce;
  }
  .heart-after {
  }
}

.chart {
  max-width: 50%;
  margin:0 auto;
  background-color: rgb(155, 210, 255);
  padding-left: 2%;
  border-radius: 2%;
}

.noHistory{
  text-align: center;
}

.formMoreStorage{
  background-color: rgb(83, 178, 255);
}

