body {
  background-image: linear-gradient(
    to right,
    rgb(175, 228, 252),
    rgb(112, 186, 221),
    rgb(45, 124, 160),
    rgb(11, 81, 114)
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.welcomeMessage {
  color: rgb(243, 247, 252);
  font-size: 700%;
  text-shadow: 5px 5px 5px rgb(114, 135, 255);
}

.logo {
  max-height: 200px;
}

.homeImages {
  padding: 1%;
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.homepageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerHomeLeft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  margin-top: 6%;
}

.containerHomeRight {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  align-self: center;
}

.homeButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.homeUser {
  padding: 2%;
  margin-right: 5%;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: rgb(131, 206, 241);
  text-align: center;
  transition: all 0.2s;
}

.homeProvider {
  padding: 2%;
  margin-left: 5%;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: rgb(131, 206, 241);
  text-align: center;
  transition: all 0.2s;
}

.loginButton {
  background: #ffffff;
  border-radius: 3em;
  font-size: larger;
  height: 100px;
  width: 200px;
  font-weight: bold;
  color: rgb(64, 154, 196);
}

.loginButton:hover {
  background-color: rgb(64, 154, 196);
  color: white;
}

.signup {
  color: rgb(47, 47, 192);
}

.containerNewRegistration {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.newUser {
  padding: 2%;
  margin-right: 5%;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: rgb(131, 206, 241);
  text-align: center;
  transition: all 0.2s;
}

.newProvider {
  padding: 2%;
  margin-right: 5%;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: rgb(131, 206, 241);
  text-align: center;
  transition: all 0.2s;
}


/* ------------Chat popup------------- */

#chat-box {
  max-width: 30%;
  border: solid 5px red;
  min-height: 200px;
  margin: 10px 10px;
  max-height: 20rem;
  overflow: scroll;
  /* display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  border-style: double; */
}

.chat-icons {
  width: 4rem;
  height: 4rem;
  margin: 10px 10px;
}
/* .message-elements {
  display: flex;
  flex-direction: column;
  border-style: double; */
/* } */

.messages {
  display: flex;
  /* flex-direction: column; */
  background-color: rgb(255, 255, 255);
  margin: 10px 10px;
  border-radius: 0.5rem;
  /* justify-content: center; */
  align-items: center;
  border: 2px rgb(209, 19, 19) solid;
}

/* .message-input {
  display: flex;
  flex-direction: row;
}

.send-child {
  display: grid; */
  /* justify-content: space-around; */
  /* gap: 0.125rem; /* 2px */
  /* gap: 0.125rem; 2px */
  /* margin-top: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  /* padding-top: 0.5rem;  */
  /* padding-bottom: 0.5rem;  */
  /* border: 2px rgb(196, 209, 19) solid; */
/* } */

.send-button {
  border-radius: 1.5rem; /* 24px */
  background-color: rgb(11, 81, 114);
  color: rgb(255, 255, 255);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  cursor: pointer;
}

/* .send-icon {
  border-radius: 9999px;
  background-color: rgb(11, 81, 114);
  color: rgb(255, 255, 255);
} */
